#root {
  max-width: 1400px;
  margin: 0 auto;
  /* padding: 1rem; */
  text-align: center;
}

body {
  background-color: #F6F7F8;
  overflow-x: hidden; 
}

/* Estilos del scrollbar */
/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 6px;
}

/* Estilo de la pista del scrollbar */
::-webkit-scrollbar-track {
  background: #E3E4E6;
}

/* Estilo del thumb (la parte que se desplaza) del scrollbar */
::-webkit-scrollbar-thumb {
  background: #072635;
  border-radius: 3px;
}

/* Cambia el color del thumb cuando se desplaza */
::-webkit-scrollbar-thumb:hover {
  background: #072635;
}